{% extends "tests_app/base.html" %}
{% block title %}Новый пароль | TestFlow{% endblock %}

{% block content %}
<div style="max-width: 500px; margin: 60px auto; background: #fff; padding: 30px; border-radius: 20px; box-shadow: 0 10px 30px rgba(0,0,0,0.08);">
    <h2 style="text-align:center; margin-bottom: 20px;">Введите новый пароль</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Сохранить пароль</button>
    </form>
</div>
{% endblock %}